/** 样式全局配置 */

::-webkit-scrollbar {
  /* 高宽分别对应横竖滚动条的尺寸 */
  width: 8px;

  /* 滚动条整体样式 */
  height: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #03022933;

  /* 滚动条里面小方块 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #03022966;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.container{
  width: 100%;
}
@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}
@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}
@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}
@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}
@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}
.visible{
  visibility: visible !important;
}
.static{
  position: static !important;
}
.fixed{
  position: fixed !important;
}
.absolute{
  position: absolute !important;
}
.relative{
  position: relative !important;
}
.sticky{
  position: -webkit-sticky !important;
  position: sticky !important;
}
.bottom-0{
  bottom: 0px !important;
}
.bottom-1{
  bottom: 0.25rem !important;
}
.left-0{
  left: 0px !important;
}
.left-36{
  left: 9rem !important;
}
.right-0{
  right: 0px !important;
}
.top-4{
  top: 1rem !important;
}
.m-4{
  margin: 1rem !important;
}
.my-4{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.mb-1{
  margin-bottom: 0.25rem !important;
}
.mb-2{
  margin-bottom: 0.5rem !important;
}
.mb-4{
  margin-bottom: 1rem !important;
}
.ml-1{
  margin-left: 0.25rem !important;
}
.ml-8{
  margin-left: 2rem !important;
}
.mr-1{
  margin-right: 0.25rem !important;
}
.mr-2{
  margin-right: 0.5rem !important;
}
.mt-1{
  margin-top: 0.25rem !important;
}
.mt-16{
  margin-top: 4rem !important;
}
.mt-2{
  margin-top: 0.5rem !important;
}
.mt-4{
  margin-top: 1rem !important;
}
.mt-6{
  margin-top: 1.5rem !important;
}
.mt-8{
  margin-top: 2rem !important;
}
.block{
  display: block !important;
}
.inline-block{
  display: inline-block !important;
}
.\!inline{
  display: inline !important;
}
.inline{
  display: inline !important;
}
.flex{
  display: flex !important;
}
.grid{
  display: grid !important;
}
.hidden{
  display: none !important;
}
.w-16{
  width: 4rem !important;
}
.w-2\/5{
  width: 40% !important;
}
.w-24{
  width: 6rem !important;
}
.w-28{
  width: 7rem !important;
}
.w-3\/5{
  width: 60% !important;
}
.w-56{
  width: 14rem !important;
}
.w-64{
  width: 16rem !important;
}
.w-full{
  width: 100% !important;
}
.min-w-xxl{
  min-width: 1600px !important;
}
.flex-1{
  flex: 1 1 !important;
}
.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}
.cursor-pointer{
  cursor: pointer !important;
}
.resize{
  resize: both !important;
}
.justify-start{
  justify-content: flex-start !important;
}
.justify-end{
  justify-content: flex-end !important;
}
.justify-between{
  justify-content: space-between !important;
}
.overflow-x-auto{
  overflow-x: auto !important;
}
.overflow-y-auto{
  overflow-y: auto !important;
}
.overflow-y-hidden{
  overflow-y: hidden !important;
}
.truncate{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.whitespace-pre{
  white-space: pre !important;
}
.rounded-lg{
  border-radius: 0.5rem !important;
}
.border{
  border-width: 1px !important;
}
.border-2{
  border-width: 2px !important;
}
.border-solid{
  border-style: solid !important;
}
.border-blue-100{
  --tw-border-opacity: 1 !important;
  border-color: rgb(219 234 254 / var(--tw-border-opacity)) !important;
}
.border-blue-400{
  --tw-border-opacity: 1 !important;
  border-color: rgb(96 165 250 / var(--tw-border-opacity)) !important;
}
.border-cyan-500{
  --tw-border-opacity: 1 !important;
  border-color: rgb(6 182 212 / var(--tw-border-opacity)) !important;
}
.bg-blue-100{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity)) !important;
}
.bg-gray-400{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity)) !important;
}
.p-2{
  padding: 0.5rem !important;
}
.p-4{
  padding: 1rem !important;
}
.px-2{
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.pb-0{
  padding-bottom: 0px !important;
}
.pl-2{
  padding-left: 0.5rem !important;
}
.pr-6{
  padding-right: 1.5rem !important;
}
.pt-6{
  padding-top: 1.5rem !important;
}
.text-center{
  text-align: center !important;
}
.text-right{
  text-align: right !important;
}
.text-base{
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}
.text-xs{
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}
.text-blue-900{
  --tw-text-opacity: 1 !important;
  color: rgb(30 58 138 / var(--tw-text-opacity)) !important;
}
.text-red-600{
  --tw-text-opacity: 1 !important;
  color: rgb(220 38 38 / var(--tw-text-opacity)) !important;
}
.shadow-2xl{
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25) !important;
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.shadow-xl{
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color) !important;
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
.outline{
  outline-style: solid !important;
}
.blur{
  --tw-blur: blur(8px) !important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
}
.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
}
.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}
.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1) !important;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.hover\:border-2:hover{
  border-width: 2px !important;
}

.hover\:border-blue-300:hover{
  --tw-border-opacity: 1 !important;
  border-color: rgb(147 197 253 / var(--tw-border-opacity)) !important;
}

.hover\:bg-blue-300:hover{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(147 197 253 / var(--tw-bg-opacity)) !important;
}

.hover\:font-bold:hover{
  font-weight: 700 !important;
}

.hover\:text-blue-600:hover{
  --tw-text-opacity: 1 !important;
  color: rgb(37 99 235 / var(--tw-text-opacity)) !important;
}

.hover\:text-blue-900:hover{
  --tw-text-opacity: 1 !important;
  color: rgb(30 58 138 / var(--tw-text-opacity)) !important;
}

.configLayout_select-style__RWsVW::after{position:absolute;top:50%;left:50%;width:10px;height:20px;content:' ';transform:translate(-50%, -50%) rotate(45deg);border-right:4px solid skyblue;border-bottom:4px solid skyblue}

.iLoading_cssload-loader__RGIK2{position:absolute;top:50%;left:50%;width:100px;height:100px;transform:translate(-50%, -50%);perspective:780px}.iLoading_cssload-inner__zsIT0{position:absolute;width:100%;height:100%;border-radius:50%;box-sizing:border-box}.iLoading_cssload-inner__zsIT0.iLoading_cssload-one__0XauK{top:0%;left:0%;animation:iLoading_cssload-rotate-one__EnrP0 1.15s linear infinite;border-bottom:3px solid #5c5edc}.iLoading_cssload-inner__zsIT0.iLoading_cssload-two__HG3Ax{top:0%;right:0%;animation:iLoading_cssload-rotate-two__3YirK 1.15s linear infinite;border-right:3px solid #4c4665}.iLoading_cssload-inner__zsIT0.iLoading_cssload-three__ZU-HL{right:0%;bottom:0%;animation:iLoading_cssload-rotate-three__1MmH9 1.15s linear infinite;border-top:3px solid #e9908a}@keyframes iLoading_cssload-rotate-one__EnrP0{0%{transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg)}100%{transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg)}0%{transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg)}100%{transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg)}0%{transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg)}100%{transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg)}0%{transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg)}100%{transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg)}0%{transform:rotateX(35deg) rotateY(-45deg) rotateZ(0deg)}100%{transform:rotateX(35deg) rotateY(-45deg) rotateZ(360deg)}}@keyframes iLoading_cssload-rotate-two__3YirK{0%{transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg)}100%{transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg)}0%{transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg)}100%{transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg)}0%{transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg)}100%{transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg)}0%{transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg)}100%{transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg)}0%{transform:rotateX(50deg) rotateY(10deg) rotateZ(0deg)}100%{transform:rotateX(50deg) rotateY(10deg) rotateZ(360deg)}}@keyframes iLoading_cssload-rotate-three__1MmH9{0%{transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg)}100%{transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg)}0%{transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg)}100%{transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg)}0%{transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg)}100%{transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg)}0%{transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg)}100%{transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg)}0%{transform:rotateX(35deg) rotateY(55deg) rotateZ(0deg)}100%{transform:rotateX(35deg) rotateY(55deg) rotateZ(360deg)}}

.messageCenter_layout-tabs-center__rYOR4 .ant-tabs-nav-wrap{justify-content:center}.messageCenter_layout-tabs-center__rYOR4 .ant-list-bordered{border:0}.messageCenter_layout-tabs-center__rYOR4 .ant-tabs-top>.ant-tabs-nav,.messageCenter_layout-tabs-center__rYOR4 .ant-tabs-bottom>.ant-tabs-nav,.messageCenter_layout-tabs-center__rYOR4 .ant-tabs-top>div>.ant-tabs-nav,.messageCenter_layout-tabs-center__rYOR4 .ant-tabs-bottom>div>.ant-tabs-nav{margin:0}

.tabsMain_tabs__StjzI .ant-tabs-top>.ant-tabs-nav,.tabsMain_tabs__StjzI .ant-tabs-bottom>.ant-tabs-nav,.tabsMain_tabs__StjzI .ant-tabs-top>div>.ant-tabs-nav,.tabsMain_tabs__StjzI .ant-tabs-bottom>div>.ant-tabs-nav{margin:0}.tabsMain_tabs__StjzI .ant-tabs-tab-remove{position:absolute;right:0;margin:11px;opacity:0;transition:.1s ease-in-out}.tabsMain_tabs__StjzI .ant-tabs>.ant-tabs-nav .ant-tabs-nav-more,.tabsMain_tabs__StjzI .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-more{padding:0 16px}.tabsMain_tabs__StjzI .ant-tabs-ink-bar{visibility:visible}.tabsMain_tabs__StjzI .ant-tabs-tab-with-remove.ant-tabs-tab-active .ant-tabs-tab-remove{top:1px;margin:11px;opacity:1}.tabsMain_tabs__StjzI .ant-tabs-tab-with-remove.ant-tabs-tab-active .ant-tabs-tab-btn{transform:translateX(-9px)}.tabsMain_tabs__StjzI .ant-tabs-tab{padding:8px 22px}.tabsMain_tabs__StjzI .ant-tabs-tab .anticon-home{margin-right:7px}.tabsMain_tabs__StjzI .ant-tabs-tab.ant-tabs-tab-with-remove:hover .ant-tabs-tab-remove{top:1px;margin:11px;opacity:1;transition:.1s ease-in-out}.tabsMain_tabs__StjzI .ant-tabs-tab.ant-tabs-tab-with-remove:hover .ant-tabs-tab-btn{transform:translateX(-9px)}

.login_login-white__1KySU{height:100vh;background:linear-gradient(-45deg, #d38e79, #c9668c, #5fb7d7, #89dfcb);background-size:400% 400%;animation:login_gradient__tnTnR 10s ease infinite}.login_login-dark__\+kNYn{height:100vh;background:linear-gradient(45deg, #ccc, #000);background-size:200% 200%;animation:login_gradient__tnTnR 10s ease infinite}@keyframes login_gradient__tnTnR{0%{background-position:0% 50%}50%{background-position:100% 50%}100%{background-position:0% 50%}}.login_login-box__TxZY1{position:absolute;top:50%;left:50%;width:400px;padding:40px;border-radius:10px;transform:translate(-50%, -50%);box-sizing:border-box;box-shadow:0 5px 15px white;transition:all 0.2s ease-in-out}.login_login-box__TxZY1:hover{box-shadow:0 15px 25px white}.login_login-box__TxZY1 h2{padding:0;margin:0 0 30px;color:#fff;text-align:center}.login_login-box__TxZY1 .login_user-box__3Abjy{position:relative}.login_login-box__TxZY1 .login_user-box__3Abjy input{width:100%;padding:10px 0;margin-bottom:30px;font-size:16px;color:#fff;background:transparent;border:none;outline:none;border-bottom:1px solid #fff}.login_login-box__TxZY1 .login_user-box__3Abjy label{position:absolute;top:0;left:0;padding:10px 0;font-size:16px;color:#fff;pointer-events:none;transition:0.5s}.login_login-box__TxZY1 .login_user-box__3Abjy input:focus ~ label,.login_login-box__TxZY1 .login_user-box__3Abjy input:valid ~ label{top:-20px;left:0;font-size:12px;color:#03e9f4}.login_login-box__TxZY1 form a{position:relative;display:inline-block;padding:10px 20px;margin-top:40px;overflow:hidden;font-size:16px;letter-spacing:4px;color:#03e9f4;text-decoration:none;text-transform:uppercase;transition:0.5s}.login_login-box__TxZY1 a:hover{color:#fff;background:#03e9f4;border-radius:5px;box-shadow:0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4}.login_login-box__TxZY1 a span{position:absolute;display:block}.login_login-box__TxZY1 a span:nth-child(1){top:0;left:-100%;width:100%;height:2px;background:linear-gradient(90deg, transparent, #03e9f4);animation:login_btn-anim1__1Fp8F 1s linear infinite}@keyframes login_btn-anim1__1Fp8F{0%{left:-100%}50%,100%{left:100%}}.login_login-box__TxZY1 a span:nth-child(2){top:-100%;right:0;width:2px;height:100%;background:linear-gradient(180deg, transparent, #03e9f4);animation:login_btn-anim2__sSswk 1s linear infinite;animation-delay:0.25s}@keyframes login_btn-anim2__sSswk{0%{top:-100%}50%,100%{top:100%}}.login_login-box__TxZY1 a span:nth-child(3){right:-100%;bottom:0;width:100%;height:2px;background:linear-gradient(270deg, transparent, #03e9f4);animation:login_btn-anim3__PoiiE 1s linear infinite;animation-delay:0.5s}@keyframes login_btn-anim3__PoiiE{0%{right:-100%}50%,100%{right:100%}}.login_login-box__TxZY1 a span:nth-child(4){bottom:-100%;left:0;width:2px;height:100%;background:linear-gradient(360deg, transparent, #03e9f4);animation:login_btn-anim4__wfqhR 1s linear infinite;animation-delay:0.75s}@keyframes login_btn-anim4__wfqhR{0%{bottom:-100%}50%,100%{bottom:100%}}

.iLoading_loading-example__SAeHS{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}

.iMarkdown_codeStyle__g8n3- pre{padding:16px;overflow:auto;font-size:85%;line-height:1.45;border-radius:6px}

